VITE_GRAPHQL_URL=http://localhost:8888/graphql
VITE_GRAPHQL_WS_URL=ws://localhost:8888/graphql-ws
VITE_INSIGHTS_API_URL=http://localhost:8888/api/insights
VITE_DEFAULT_TENANT_ID=48041f5f-cba7-466e-807a-b2fe85bd20ae
